[defaults]

# 1. STDOUT CLEANUP: Drops 'ok: [localhost] =>' styling headers in favor of a clean, minimal output
stdout_callback = minimal

# 2. Prevents host key validation blocks when connecting to your new instance for the first time
host_key_checking = False
